<html>
<head>

<link rel="stylesheet" type="text/css" href="./css/style.css">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

	<h1>List User:</h1>
	<div id="app">
		<a type="button" class="btn btn-success" v-bind:href="'./user-create'">Create new user</a>
		<table>
			<tr>
				<th>Id</th>
				<th>staff_cd</th>
				<th>Name</th>
				<th>Address</th>
				<th>View/edit</th>
				<th>Delete</th>
			</tr>
			<tr v-for='data in users'>
				<td>{{data.user_id}}</td>
				<td>{{data.staff_cd}}</td>
				<td>{{data.staff_name}}</td>
				<td>{{data.staff_add}}</td>
				<td><a v-bind:href="'./user-view/' + data.user_id">View/edit</a></td>
				<td><a v-bind:href="'./api/user-delete-API?id='+ data.user_id">Delete</a></td>
			</tr>
		</table>
	</div>
</body>
<script type="text/javascript" src="./js/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="./js/list.js"></script>
</html>