<html>
<head>

<link rel="stylesheet" type="text/css" href="../css/style.css">
<link rel="stylesheet" type="text/css" href="../css/boostrap.css">
<script type="text/javascript" src="../js/boostrap.js"></script>


</head>

<body>

	<h1>User Information:</h1>

	<div id="app">
	 	<table>
			<tr>
				<th>Id</th>
				<th>staff_cd</th>
				<th>Name</th>
				<th>Address</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr v-for='data in users'>
				<td>{{data.user_id}}</td>
				<td>{{data.staff_cd}}</td>
				<td>{{data.staff_name}}</td>
				<td>{{data.staff_add}}</td>
				<td><a href="./update">Edit</a></td>
				<td><a href="./delete">Delete</a></td>
			</tr>
		</table>
	</div>

</body>
<script type="text/javascript" src="../js/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="../js/view.js"></script>
</html>